<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express with Tailwind</title>
  <link href="/styles/style.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900">

  <nav class="bg-black text-white flex justify-between ">
    <p class="ml-64 text-4xl my-auto w-2">Anubhab</p>
    <ul class="flex px-36 py-4 space-x-11 justify-around w-100">
        <li>home</li>
        <li>home</li>
        <li>home</li>
        <li>home</li>
    </ul>
  </nav>
  <main class="text-center bg-gray-400 my-auto text-2xl">
    i am workin on a project for building a production level website for company "nightingale"
    <br>
    these are some website-themes i made in past days to try some themes
    <br>
    please see explore this themes and give me feedback
  </main>

  </main>
  <div class="flex flex-wrap justify-around">

    <div class="m-8">
      <iframe class="border-4 border-green-600   cursor-pointer" width="560" height="315" src="/test1"></iframe>
      <button class="w-full h-8 bg-green-600" onclick="window.location.href='/test1'">click here to see</button>
    </div>


    <div class="m-8" >
      <iframe class="border-4 border-green-500   cursor-pointer" width="560" height="315" src="/test2"></iframe>
      <button class="w-full h-8 bg-green-500" onclick="window.location.href='/test2'">click here to see</button>
    </div>


    <div class="m-8" >
      <iframe class="border-4 border-green-400   cursor-pointer" width="560" height="315" src="/test3"></iframe>
      <button class="w-full h-8 bg-green-400" onclick="window.location.href='/test3'">click here to see</button>
    </div>


    <div class="m-8" >
      <iframe class="border-4 border-green-300   cursor-pointer" width="560" height="315" src="/test4"></iframe>
      <button class="w-full h-8 bg-green-300" onclick="window.location.href='/test4'">click here to see</button>
    </div>


    <div class="m-8" >
      <iframe class="border-4 border-green-200   cursor-pointer" width="560" height="315" src="/test5"></iframe>
      <button class="w-full h-8 bg-green-200" onclick="window.location.href='/test5'">click here to see</button>
    </div>


    <div class="m-8" >
      <iframe class="border-4 border-green-100   cursor-pointer" width="560" height="315" src="/test6"></iframe>
      <button class="w-full h-8 bg-green-100" onclick="window.location.href='/test6'">click here to see</button>
    </div>


  </div>
  <footer id="contact" class="bg-black text-white flex justify-between p-4">
    <p class="ml-64 text-4xl my-auto w-2">Mukherjee</p>
    <p class="mr-64 text-lg my-auto">© 2024 AnubhabProduction. All rights reserved.</p>
  </footer>
</body>

</html>